@font-face {
    font-family: 'icons';
    src: url('../icons/icons.eot?frvda8');
    src: url('../icons/icons.eot?frvda8#iefix') format('embedded-opentype'),
        url('../icons/icons.ttf?frvda8') format('truetype'),
        url('../icons/icons.woff?frvda8') format('woff'),
        url('../icons/icons.svg?frvda8#icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._icon-friends:before {
    content: "\e912";
}

._icon-message:before {
    content: "\e913";
}

._icon-close:before {
    content: "\e911";
    color: #fff;
}

._icon-arrow-back:before {
    content: "\e900";
}

._icon-clip:before {
    content: "\e901";
}

._icon-brush:before {
    content: "\e902";
}

._icon-close-circle:before {
    content: "\e903";
}

._icon-image:before {
    content: "\e904";
}

._icon-info:before {
    content: "\e905";
}

._icon-logout:before {
    content: "\e906";
}

._icon-mic:before {
    content: "\e907";
}

._icon-more:before {
    content: "\e908";
}

._icon-person-add:before {
    content: "\e909";
}

._icon-person-delete:before {
    content: "\e90a";
}

._icon-person:before {
    content: "\e90b";
}

._icon-phone:before {
    content: "\e90c";
}

._icon-search:before {
    content: "\e90d";
}

._icon-smiling:before {
    content: "\e90e";
}

._icon-trash:before {
    content: "\e90f";
}

._icon-volume-off:before {
    content: "\e910";
}