.login {
    background-color: #fff;
    width: 330px;
    border-radius: 20px;
    color: #000;

    &__body {}

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding: 20px;
        padding-bottom: 10px;

    }

    &__title {
        font-size: 24px;
        cursor: pointer;
        transition: 0.3s all ease 0s;
        color: #000;

        &:hover {
            color: rgb(214, 147, 147);
        }

        &.active {
            color: rgb(214, 147, 147);
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding: 0 20px 30px;
    }

}