.profile {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    opacity: 1;
    z-index: 10;
    transition: 1.5s all ease 0s;



    &__content {
        border-radius: 20px;
        background-color: #29285A;
        border-radius: 20px 0 0 20px;
        width: 300px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        transition: 0.5s all ease 0s;


    }

    &__top {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding: 20px 15px;
    }

    &__img {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        margin-right: 20px;
        flex: 0 0 40px;
    }

    &__name {
        font-size: 24px;
    }

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 620px;

    }
}