@import '../styles/icons.scss';
@import '../styles/null.scss';
@import '../styles/dialogs.scss';
@import '../styles/sidebar.scss';
@import '../styles/dialog.scss';
@import '../styles/dropdawn.scss';
@import '../styles/modal.scss';
@import '../styles/modal-profile.scss';
@import '../styles/profile.scss';
@import '../styles/login.scss';




#root {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    // background-color: #46a08b;
    background-color: #3a7c6d;
    display: flex;
    justify-content: center;
    align-items: center;

}

.app {
    width: 1100px;
    height: 700px;
    background-color: #29285A;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    line-height: 120%;
    margin: 15px;
    display: flex;
    cursor: default;
    position: relative;

    a {
        color: #fff;
    }

    &__content {
        display: flex;
        align-items: center;
        margin: 0 auto;
        font-size: 20px;

    }

    &__text {
        background-color: #3F3E72;
        padding: 5px 20px;
        border-radius: 5px;
    }
}